body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: wheat;
}

.papel {
    background-color: white;
    margin: 15px;
    padding: 15px;
}

.papel > header h1 {
    box-shadow: 2px 2px 2px 2px;
}

.papel > header img {
    width: 100px;
    height: 100px;
    border: 1rem;
    border-radius: 50px;
}